body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url("./img/bg 1.png");
}

.product-grid {
    display: flex;
    width: 1390px;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
}

.product-card {
    width: 340px;
    height: auto;
    padding: 25px;
    background-color: bisque;
}

.product-header {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-compound {
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside;
    margin-bottom: 25px;
}

.product-price {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: #515076;
    font-size: 70px;
}