body {
    color: rgb(129, 117, 51);
    font-family: sans-serif;
} 

.big-heading {
    text-align: center;
    font-size: 50px;
}

ul {
    font-size: 20px;
}

.card-list {
    background-color: rgb(224, 233, 233);
    padding: 20px;
    width: 400px;
}

.margin-right {
    margin-right: 100px;
}

.card-offset {
   display: inline-block; 
   padding-left: 40px;
   padding-top: 15px;
}

.marg-lef {
    margin-left: 150px;
}

.bottom {
    padding-bottom: 50px;
}
 
