
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("./img/bg 1.png");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 790px 697px;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.product-compound__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #515076;

}

.cards-catalog {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    margin-top: 400px;
    height: 1715px;
    padding: 1px;
}

.cards-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 110px;
}  

.product-card {
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA
}

.product-card__properties {
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside;
    margin-bottom: 25px;
}

.product-card__price {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    color: #515076;
}

.product-card__compound {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
    margin-top: 15px;
}

.cards-catalog__box {
    width: 846px;
    height: 78px;
    margin-left: 217px;
    margin-top: 220px;
}

.product-card__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: #515076;
    
}

.product-card__description {
    font-weight: 400;
    font-size: 12px; 
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-top: 30px;
}

.product-card__peculiarities {
    font-weight: 400; 
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
    margin-top: 5px;
    color: #515076;
}

.product-card__ingredients {
    font-size: 13px;
    margin-top: 15px;
    line-height: 18px;
    color: #515076;
}

.product-card__fat {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    color: #515076;
}